
/* task 1 style */
.btn-search{
    margin-left: 5px; ;
}

.searched-img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.header-title{
   text-align: center;
   font-size: large;
}
.feedback-form{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.btn-submit{
margin-left: 110px;
margin-top: 20px;
padding: 10px 28px;
border: none;
background-color: coral;
border-radius: 5px;
font-weight: 700;
font-size: 20px;
}